[submodule "arduino-LED"]
	path = arduino-LED
	url = https://github.com/gmarty2000/arduino-LED
[submodule "arduino-SOIL_HYGROMETER"]
	path = arduino-SOIL_HYGROMETER
	url = https://github.com/gmarty2000/arduino-SOIL_HYGROMETER
[submodule "arduino-ULTRASONIC_SENSOR"]
	path = arduino-ULTRASONIC_SENSOR
	url = https://github.com/gmarty2000/arduino-ULTRASONIC_SENSOR
[submodule "arduino-JOYSTICK"]
	path = arduino-JOYSTICK
	url = https://github.com/gmarty2000/arduino-JOYSTICK
